.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;

  border: 1px solid #f0c14b;

  padding: 0.25rem 2rem;
  font-weight: bold;

  background: #f0c14b;
  border: 1px solid;

  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}

.form button:hover {
    transform: scale(1.1);
}
